
table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

h1, h2 {
  text-align: center;
}

table, th, td {
    border: 1px solid black;
}

td {
  text-align: center;
  padding: 2px 5px;
}

th {
    text-align: center;
    background-color: #204270;
    color: white;
    padding: 7px 5px;
}

@page {
   size: 7in 9.25in;
   margin: 27mm 16mm 27mm 16mm;
}
