
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

td {
  text-align: center;
  padding: 5px;
}

th {
    text-align: center;
    background-color: #204270;
    color: white;
    padding: 15px;
}

@page {
   size: 7in 9.25in;
   margin: 27mm 16mm 27mm 16mm;
}
